<legend slider>Pacientes</legend>
<p *ngIf="!pacientesAPI"><em>Carregando...</em></p>

<div class="content-section implementation">
<p-messages [(value)]="msgs"></p-messages>
</div>

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <span class="ui-float-label">
            <input id="float-input" type="text" size="50" pInputText> 
            <label for="float-input">Digite o nome paciente</label>
            <button pButton type="button" icon="pi pi-search"></button>
          </span>
    </div>
    
    <div class="ui-toolbar-group-right">
        <!--
        <a [routerLink]='["/paciente-cadastro"]' (click)='collapse()'>
            <button pButton type="button" label="Novo" icon="pi pi-plus" (click)="New()" ></button>
        </a>
-->
        <button pButton type="button" label="Novo" icon="pi pi-plus" (click)="newRegister()" ></button>


    </div>
</p-toolbar>

<p-table [columns]="cols" [value]="pacientesAPI" sortMode="multiple" [paginator]="true" [rows]="15" [totalRecords]="100" [rowsPerPageOptions]="[25,50,75,100]">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field"   [style.width]="col.width">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width:100px"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td style="width:100px">
                <button pButton type="button" icon="pi pi-pencil" class="ui-button-success" (click)="editRegister(rowData)"></button>
                <button pButton type="button" icon="pi pi-trash" class="ui-button-danger" (click)="deleteRegister(rowData)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

