<form [formGroup] = "form" (ngSubmit)="onSubmit()">
        <fieldset>
  <legend slider>{{titulo}}</legend>
  <div class="fields">
      <div class="row">
          <div class="col-md-3 col-sm-12 form-group">
              <label for="id">Código</label>
              <input type="text" ng-disabled="true" class="form-control" disabled="disabled" popover-trigger="focus" formControlName="usuarioId"  />
          </div>
      </div>

      <div class="row">
          <div class="col-md-6 col-sm-12 form-group">
              <label for="nomeCompleto">Nome do Usuário</label>
               <input type="text" maxlength="255" class="form-control"
                     required popover-placement="top" ng-blur="controller.nomeBlur()" popover-trigger="focus" formControlName="nome"  />
          </div>
          
      </div>
      
      <div class="row">
        <div class="col-md-6 col-sm-12 form-group">
            <label for="email">E-mail</label>
             <input type="email" maxlength="255" class="form-control"
                   required popover-placement="top" ng-blur="controller.nomeBlur()" popover-trigger="focus" formControlName="email" />
        </div>
        
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 form-group">
          <label for="senha">Senha</label>
           <input type="password" maxlength="20" class="form-control"
                 required popover-placement="top" ng-blur="controller.nomeBlur()" popover-trigger="focus" formControlName="senha" />
      </div>
      
    </div>


    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancelar"></button>
                <button type="submit" pButton icon="pi pi-check" label="Salvar" [disabled] = "!form.valid" ></button>
           
            </div>
    </p-footer>


  </div>


</fieldset>
</form>  